/* Styles */
assets {
    display: none;
}

app {
    display: block;
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    height: 350px;
    padding: 10px;
}

app[hidden] {
    display:none;
}

